:root {
    --primary-color: #e798c0;
    --secondary-color: #ffffff;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-color);
}

header {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

header h1 {
    display: inline-block;
    font-size: 35px;
    color: var(--primary-color);
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul {
    list-style-type: none;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

p {
    font-size: 16px;
    text-align: center;
}

.banner {
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/cherryblossoms.jpg");
    background-size: cover;
    background-position: center;
}

.about-me {
    width: 75%;
    display: inline-block;
    margin: 10px auto;
}

.about-me h2 {
    margin-bottom: 10px;
    text-align: center;
}

.about-me img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}