:root {
    --primary-color: #e798c0;
    --secondary-color: #ffffff;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    display: inline-block;
    font-size: 30px;
    color: var(--primary-color);
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

p {
    font-size: 16px;
    text-align: center;
}

.banner {
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/cherryblossoms.jpg");
    background-size: cover;
    background-position: center;
}

.about-me,
.work,
.contact-me {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about-me h3,
.work h3,
.contact-me h3 {
    color: var(--secondary-color);
    font-size: 40px;
    margin-bottom: 10px;
    text-align: end;
    padding-right: 30px;
    flex: 1 30%;
}

.about-me-text,
.work-text,
.contact-me-text {
    font-size: 30px;
    text-align: center;
    flex: 3 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-left: 3px solid var(--secondary-color);
    padding-left: 50px;
    color: var(--secondary-color);
}

.large-image {
    height: 500px;
    width: 91%;
    border: 5px solid white;
    margin: 5px;
    background-image: url("../images/surf-report.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.label-text {
    background-color: var(--secondary-color);
    width: 20%;
    height: 20%;
    bottom: 50px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-overflow: clip;
}

.label-text h4 {
    font-size: 20px;
    padding-top: 15px;
    width: 100%;
}

.label-text p {
    font-size: 10px;
    padding-bottom: 10px;
}